/* To customize, Write your code here. */
.post-container {
  display: flex; /* Use flexbox to layout children */
  flex-wrap: wrap; /* Allow flex items to wrap */
  margin-bottom: 30px; /* Spacing at the bottom */
  align-items: flex-start; /* Align items to the top */
  width: 100%; /* Full width of the parent */
}

.post-thumb {
  flex: 0 0 auto; /* Do not grow or shrink */
  margin-right: 20px; /* Spacing to the right of the image */
}

.post-thumb img {
  width: auto; /* Auto width based on the actual image size */
  height: auto; /* Maintain aspect ratio */
  max-width: 20vw; /* Max width of the image */
  max-height: 15vw; /* Max height to maintain aspect ratio */
  min-width: 20vw;
}


.post-content {
  flex: 1; /* Take up the remaining space */
  min-width: 0; /* Prevents flex items from overflowing their container */
}

.post-title, .post-authors, .description, .post-venue{
  font-family: "Times New Roman", Times, serif;
  line-height: 1.6;
  /* color: #2b2a2a; */
}

.post-title {
  font-weight: bold;
  margin-bottom: 0px; /* Spacing between title and authors */
  color: #000000;
}

.post-venue {
  font-weight: bold;
  font-style: italic;
  color: #000000;
}

a.publication-link {
  color: #0000EE;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
}

.favorite-container {
  display: flex;
  align-items: center;
}


.favorite-container img {
  width: 100px; /* Adjust the size as needed */
  vertical-align: middle; /* Align image vertically */
  padding-right: 10px; /* Space between images */
}

.favorite-container a:last-child img {
  padding-right: 0; /* No padding for the last image */
}


/* Responsive adjustments */
@media (max-width: 768px) {
  .post-container {
      flex-direction: column; /* Stack children vertically */
  }

  .post-thumb {
      width: 100%; /* Full width on smaller screens */
      margin-bottom: 10px; /* Spacing below the image */
  }

  .post-thumb img {
      max-width: 100%; /* Allow the image to be full width */
      max-height: none; /* Remove max height restriction */
  }
}
