---
layout: default
---

<!-- <link rel="stylesheet" href="{{ '/assets/custom.css' | relative_url }}"> -->
<h1>Short Bio</h1>
<section class="description">
I'm currently a first year PhD Student in EECS and <strong><a href="https://bair.berkeley.edu/" target="_blank" class="publication-link">BAIR</a></strong> at UC Berkeley, advised by Prof. <strong><a href="https://www.rctn.org/bruno/" target="_blank" class="publication-link">Bruno Olshausen</a></strong> and Prof. <strong><a href="https://binyu.stat.berkeley.edu/" target="_blank" class="publication-link">Bin Yu</a></strong>. I also work closely with Prof. <strong><a href="https://yubeichen.com/" target="_blank" class="publication-link">Yubei Chen</a></strong> at UC Davis.
My research focuses on understanding the neural computation principle: the principle behinds the representation formed in neural networks. Previously, I was born and raised in Jinan and Qingdao, China. I came to US alone at aged 15 and 
graduated at Clovis North High School. I got both my bachelar (Math and CS) and master degree (EECS) in UC Berkeley. During my undergradute and master, I'm very fortunate to be advised by Prof. <strong><a href="https://www.rctn.org/bruno/" target="_blank" class="publication-link">Bruno Olshausen</a></strong> and Prof. <strong><a href="https://yubeichen.com/" target="_blank" class="publication-link">Yubei Chen</a></strong>. I'm also very fortunate to be member of <strong><a href="https://redwood.berkeley.edu/" target="_blank" class="publication-link">Redwood Center for Theoretical Neuroscience</a></strong>. 
</br>
I also spent a large amount of my time in NYC. Feel free to email me at <strong><a href="mailto:chobitstian@berkeley.edu" target="_blank" class="publication-link">chobitstian@berkeley.edu</a></strong>
if would love to chat about research online or grab a coffee in person.
</br>
</section>


<h1>Publications</h1>
<div class="publications">
  {% assign reversed_publications = site.data.publications | reverse %}
  {% for publication in reversed_publications %}
    {% if publication.published %}
      <div class="post-container">
        <div class="post-thumb">
          <img src="{{ publication.image }}" alt="{{ publication.title }}">
        </div>
        <div class="post-content">
          <h2 class="post-title">{{ publication.title }}</h2>
          
          {% assign authors_with_links = publication.authors %}
          {% if authors_with_links contains 'Zeyu Yun' %}
            {% assign authors_with_links = authors_with_links | replace: 'Zeyu Yun', '<strong>Zeyu Yun</strong>' %}
          {% endif %}
          {% for author in site.data.links %}
            {% capture author_link %}<a href="{{ author.website }}" target="_blank" class="publication-link">{{ author.name }}</a>{% endcapture %}
            {% assign authors_with_links = authors_with_links | replace: author.name, author_link %}
          {% endfor %}
          <div class="post-authors">{{ authors_with_links | safe }}</div>

          {% if publication.arxiv_link %}
            <a class="publication-link" href="{{ publication.arxiv_link }}">[arXiv]</a>
          {% endif %}
          {% if publication.demo_link %}
            <a class="publication-link" href="{{ publication.demo_link }}">[Demo]</a>
          {% endif %}
          {% if publication.venue %}
          <div class="post-venue">{{ publication.venue}}</div>
          {% endif %}
          <div class="description">
            {{ publication.abstract }}
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>

<h1>Work under preperation</h1>
<div class="publications">
  {% assign reversed_publications = site.data.publications | reverse %}
  {% for publication in reversed_publications %}
    {% unless publication.published %}
      <div class="post-container">
        <div class="post-thumb">
          <img src="{{ publication.image }}" alt="{{ publication.title }}">
        </div>
        <div class="post-content">
          <h2 class="post-title">{{ publication.title }}</h2>
          {% assign authors_with_links = publication.authors %}
          {% if authors_with_links contains 'Zeyu Yun' %}
            {% assign authors_with_links = authors_with_links | replace: 'Zeyu Yun', '<strong>Zeyu Yun</strong>' %}
          {% endif %}
          {% for author in site.data.links %}
            {% capture author_link %}<a href="{{ author.website }}" target="_blank" class="publication-link">{{ author.name }}</a>{% endcapture %}
            {% assign authors_with_links = authors_with_links | replace: author.name, author_link %}
          {% endfor %}
          <!-- {% for author in site.data.authors %}
            {% if author.name == 'Zeyu Yun' %}
              {% assign bold_name = '<strong>' | append: author.name | append: '</strong>' %}
              {% assign authors_with_links = authors_with_links | replace: author.name, bold_name %}
            {% endif %}
          {% endfor %} -->
          <div class="post-authors">{{ authors_with_links | safe }}</div>
          {% if publication.arxiv_link %}
            <a class="publication-link" href="{{ publication.arxiv_link }}">[arXiv]</a>
          {% endif %}
          {% if publication.demo_link %}
            <a class="publication-link" href="{{ publication.demo_link }}">[Demo]</a>
          {% endif %}
          {% if publication.venue %}
          <div class="post-venue">{{ publication.venue}}</div>
          {% endif %}
          <div class="description">
            {{ publication.abstract }}
          </div>
        </div>
      </div>
    {% endunless %}
  {% endfor %}
</div>

